*
{
	margin: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a
{
	text-decoration: none;
}

.shoefootball
{
	width: 100%;
	height: 100vh;
	padding-bottom: 0px;
	text-align: center;
	position: fixed;
	z-index: 1001;
	background-color: yellowgreen;/*#337ab7*/
	display: block;
	-webkit-transition: all 2s ease-out;
			transition: all 2s ease-out;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
}

@keyframes fade
{
	0% { display: block;}
	100% 
	{
		-webkit-transform: translateY(-100%);
		    -ms-transform: translateY(-100%);
				transform: translateY(-100%);
		display: none;

	}
}

#shoe
{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: 60px;
	-webkit-transition: all 1s linear;
			transition: all 1s linear;
	-webkit-animation-name: rotate;
			animation-name: rotate;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

@keyframes rotate
{
	0% 
	{
		-webkit-transform: rotateZ(0deg);
		   -moz-transform: rotateZ(0deg);
				transform: rotateZ(0deg);
		bottom: 35px;
	}
	25% 
	{
		-webkit-transform: rotateZ(30deg);
		   -moz-transform: rotateZ(30deg);
				transform: rotateZ(30deg);
		bottom: 60px;
	}
	50% 
	{
		-webkit-transform: rotateZ(60deg); 
		   -moz-transform: rotateZ(60deg); 
				transform: rotateZ(60deg); 
		bottom: 60px;
	}
	75% 
	{
		-webkit-transform: rotateZ(30deg);
		   -moz-transform: rotateZ(30deg);
				transform: rotateZ(30deg); 
		bottom: 60px;
	}
	100% 
	{
		-webkit-transform: rotateZ(0deg);
		   -moz-transform: rotateZ(0deg);
				transform: rotateZ(0deg);
		bottom: 35px;
	}
}

#ball
{
	position: absolute;
	right: 50px;
	left: 0px;
	margin: auto;
	bottom: 190px;
	-webkit-transition: all 1s cubic-bezier(0,1.41,1,.42);/*cubic-bezier(1,0,1,.01)*/
			transition: all 1s cubic-bezier(0,1.41,1,.42);/*cubic-bezier(1,0,1,.01)*/
	-webkit-animation-name: bounce;
			animation-name: bounce;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

@keyframes bounce 
{
	0% 
	{
		bottom: 200px;
	}
	25% 
	{
		bottom: 200px;
		-webkit-transform: rotateZ(0deg);
			-ms-transform: rotateZ(0deg);
				transform: rotateZ(0deg);
	}
	50% 
	{
		bottom: 70vh;
		-webkit-transform: rotateZ(3600deg);
			-ms-transform: rotateZ(3600deg);
				transform: rotateZ(3600deg);
	}
	75% 
	{
		bottom: 200px;
		-webkit-transform: rotateZ(0deg);
			-ms-transform: rotateZ(0deg);
				transform: rotateZ(0deg);
	}
	100% 
	{
		bottom: 200px;
	}
}

.one
{
	position: relative;
}

.icon-bar
{
	background-color: grey;
}

.navbar
{
	font-family: 'Lato';
	background-color: rgba(0,0,0,0.5);
}

.navbar-brand
{
	font-size: 20px !important;
	cursor: default;
}

.navbar a
{
	color: yellowgreen;
}

.content
{
	width: 100%;
	height: 100vh;
	
	background-image: url("../images/background3.jpg");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	color: grey;
	-webkit-transition: all 0.1s linear;
			transition: all 0.1s linear;
}


.head
{
	width: 100%;
	font-family: 'Lato';
	font-size: 30px !important;
	color: yellowgreen;
	position: absolute;
	text-align: center;
	top: 55vh;
	padding-left: 0; 
	left: 0;
	margin: 0 auto !important;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}

h1
{
	font-weight: bold !important;
	font-size: 40px;
}

.game
{
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
	-webkit-animation-name: zoom;
	animation-name: zoom;
	-webkit-animation-duration: 1s;
	animation-3uration: 1s;
}

@keyframes zoom
{
	from {font-size: 0px;}
	to {font-size: 30px;}
}

.nav li a:hover, ul.li a b:focus
{
	background-color: black !important;
}

.navbar-header .navbar-brand
{
	background-color: black !important;
}

.collapse
{
	height: 33vh !important;
	overflow: auto;
}

#mynavbar ul li
{
	cursor: pointer;
}


.display{
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	z-index: 1001;
	text-align: center;
}

.display-box
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 500px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	color: rgb(40,40,40);
	font-family: 'Lato';
}

.sports-heading
{
	margin-bottom: 25px;
	font-weight: bold;
}

.div-info
{
	width: 100%;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}

/*css for scrollbars*/
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.3);
}

::-o-scrollbar {
    width: 4px;
}

/* Track */
::-o-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Handle */
::-o-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
::-o-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.3);
}

::-moz-scrollbar {
    width: 4px;
}

/* Track */
::-moz-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Handle */
::-moz-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
::-moz-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.3);
}
/*End of css for scrollbar*/